<%= form_for @profile, :html => {:multipart => true} do |f| %>
  <%= render 'layouts/flash_messages' %>
  <table>
    <tr>
      <td>First Name:</td>
      <td>
        <%= f.text_field :first_name, :class => "common_input_text"  %>
        <div class="vendor_error_msg1"><%= validation_errors @profile.errors['first_name'] %></div>
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <%= f.text_field :last_name, :class => "common_input_text" %>
        <div class="vendor_error_msg1"><%= validation_errors @profile.errors['last_name'] %></div>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male<%= f.radio_button :gender, "Male" %>Female<%= f.radio_button :gender, "Female" %></td>
    </tr>
    <tr>
      <td>Date Of Birth</td>
      <td><%=  f.date_select :date_of_birth,:start_year => 1900, :class => "common_inp_select"   %></td>
    </tr>
    <tr>
      <td>Mobile Number</td>
      <td>
        <%= f.text_field :mobile_no, :class => "common_input_text" %>
        <div class="vendor_error_msg1"><%= validation_errors @profile.errors['mobile_no'] %></div>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= f.text_area :address, :class => "common_textarea_popup" %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= f.text_field :city, :class => "common_input_text" %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= f.text_field :state, :class => "common_input_text" %></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= f.country_select :country, ["United States"],{}, :class => "common_inp_select" %></td>
    </tr>
    <tr>
      <td>Pin Code</td>
      <td>
        <%= f.text_field :pin_code, :class => "common_input_text" %>
        <div class="vendor_error_msg1"><%= validation_errors @profile.errors['pin_code'] %></div>
      </td>
    </tr>
    <tr>
      <td>Profile Photo</td>
      <td><%= f.file_field :profile_photo, :size => '20x2' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>