<%= form_for @comment do |f| %>
  <%= f.hidden_field :article_id %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td>
        <%= f.text_field :name, :class => "common_input_text" %>
        <div class="vendor_error_msg1"><%= validation_errors @comment.errors['name'] %></div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td>
        <%= f.text_field :email, :class => "common_input_text" %>
         <div class="vendor_error_msg1"><%= validation_errors @comment.errors['email'] %></div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :site_url, 'Website URL' %></td>
      <td><%= f.text_field :site_url, :class => "common_input_text" %></td>
    </tr>
    <tr>
      <td><%= f.label :content, 'Comment' %></td>
      <td>
<%= f.text_area :content, :class => "common_textarea_popup"  %>
       <div class="vendor_error_msg1"><%= validation_errors @comment.errors['content'] %></div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Submit" %></td>
    </tr>
  </table>
<% end %>
