<%= form_tag('/forgot_password') do %>
  <%= render 'flash_messages' %>
  <h4>Please enter the email address which is used to create your account, and we will send you a link to reset your password.</h4>
  <table border="0" style="margin-top: 50px;"  >
    <tr>
      <td width="40%">Email Address</td>
      <td width="60%"><%= text_field "user", "email" %></td>
    </tr>
    <tr></tr>
    <tr>
      <td></td>
      <td><%= submit_tag 'Reset' %> <%= button_to_function 'Cancel', "window.location.href= '/login'", :class => 'reset_button' %></td>
    </tr>
  </table>
<% end %>
