<html>

  <h5>Please enter password and confirm password to reset your password.</h5>
  <%= form_tag(:action => 'reset_password') do -%>
    <%= render 'flash_messages' %>
    <table  style="margin-top: 14px;" >
      <tr>
        <td>Username</td>
        <td><%= text_field :user, :login, :value => @user.login, :readonly => "readonly"%></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td><%= text_field :user, :email, :value => @user.email, :readonly => "readonly" %></td>
      </tr>
      <tr>
        <td>Password*</td>
        <td onkeyup = "validate_password" ><%= password_field :user, :password, :value => ""%>
          <div style='color: red;'><%= validation_errors @user.errors['password'] %></div></td>
      </tr>
      <tr>
        <td>Confirm Password*</td>
        <td><%= password_field :user, :password_confirmation, :value => "" %>
          <div style='color: red;'><%= validation_errors @user.errors['password_confirmation'] %></div></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag 'Reset'%><%= button_to_function 'Cancel', "window.location.href= '/login'", :class => 'reset_button' %></td>
      </tr>
    </table>
  <% end %>
</html>
